<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Esperance Historical Museum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300&family=Playfair+Display:wght@400;500;600&family=Work+Sans:wght@300;400;600&display=swap" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        [x-cloak] {
            visibility: hidden;
            overflow: hidden
        }
    </style>


        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">



    <link rel="stylesheet" href="/js/lightgallery/css/lightgallery-bundle.css">
    <link rel="stylesheet" href="/js/lightgallery/css/lg-transitions.css">
    <script src="/js/lightgallery/lightgallery.min.js"></script>
    <script src="/js/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="/js/lightgallery/plugins/thumbnail/lg-zoom.min.js"></script>

    
</head>

<body class="bg-zinc-50">
    {% include '_partials/_nav2.twig' %}      
    <main class="max-w-6xl mx-auto py-20  px-4 min-h-screen">
    {% block content %}
<div class="prose max-w-none">
    <h1>{{ entry.title | widont }}</h1>
    <div class="prose prose-lg">
    {{ entry.text }}
    </div>
<!-- Top Gallery Nav -->
    <div class="not-prose flex flex-wrap gap-x-6  mx-auto my-10">
    {% set myEntryQuery = craft.entries()
      .section('photos')
      .level('1')
      .id('not ' ~ entry.id)
      .limit(10) %}

  
    {% set entries = myEntryQuery.all() %}

 
    {% for entry in entries %}
   <div class="flex items-center">
        <h2 class="mb-2 text-xl md:text-lg font-sans   text-blue-600 hover:text-blue-800 hover:underline"><a
            href="{{ entry.url() }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-blue-600 inline-block">
                <path d="M3.75 3A1.75 1.75 0 002 4.75v3.26a3.235 3.235 0 011.75-.51h12.5c.644 0 1.245.188 1.75.51V6.75A1.75 1.75 0 0016.25 5h-4.836a.25.25 0 01-.177-.073L9.823 3.513A1.75 1.75 0 008.586 3H3.75zM3.75 9A1.75 1.75 0 002 10.75v4.5c0 .966.784 1.75 1.75 1.75h12.5A1.75 1.75 0 0018 15.25v-4.5A1.75 1.75 0 0016.25 9H3.75z" />
              </svg>
              
             
              {{ entry.title | widont }}</a></h2>
   </div>
    {% endfor %}

    </div>

    <!-- End Gallery Nav -->

    <!-- Begin Gallery sub-nav -->

    <div  class=" max-w-none">
      
        {% if entry.hasDescendants() %}

   
                <div class="not-prose flex flex-wrap  items-center  mx-auto my-10 text-blue-600 text-base">
             
    
                    {% for entry in craft.entries.section('photos').descendantOf(entry.id).orderBy('title asc').all() %}
    <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 inline-block mr-1">
                        <path d="M4.75 3A1.75 1.75 0 003 4.75v2.752l.104-.002h13.792c.035 0 .07 0 .104.002V6.75A1.75 1.75 0 0015.25 5h-3.836a.25.25 0 01-.177-.073L9.823 3.513A1.75 1.75 0 008.586 3H4.75zM3.104 9a1.75 1.75 0 00-1.673 2.265l1.385 4.5A1.75 1.75 0 004.488 17h11.023a1.75 1.75 0 001.673-1.235l1.384-4.5A1.75 1.75 0 0016.896 9H3.104z" />
                      </svg>
                       <a href="{{ entry.url }}" class="text-blue-600 hover:text-blue-800 pr-4 hover:underline text-base">{{ entry.title }}</a>

    </div>        
    
                    {% endfor %}
             
        </div>
    {% endif %}

    

        </div>




<!-- End Gallery Item sub-nav -->      
  
        <div class="inline-flex items-center my-4 text-sm md:text-base text-gray-600 max-w-7xl mx-auto">
        	
                <svg class="w-5 h-5 inline fill-current mr-2" viewBox="0 0 470 363" xmlns="http://www.w3.org/2000/svg"><path d="M438.827 133.347l-80.213-88.149c-15.872-15.872-41.728-15.893-57.749.128-5.077 5.077-8.533 11.157-10.325 17.643-15.957-12.224-38.976-11.008-53.675 3.691a40.64 40.64 0 00-10.347 17.621c-15.957-12.181-38.976-10.987-53.653 3.712-4.971 4.971-8.384 10.901-10.24 17.216l-37.803-37.803c-15.872-15.872-41.728-15.893-57.749.128-15.893 15.872-15.893 41.728 0 57.621L212.31 270.392l-86.144 13.525c-23.275 3.328-40.832 23.552-40.832 47.083 0 17.643 14.357 32 32 32h201.152c31.339 0 60.8-12.203 82.965-34.368l33.557-33.557c22.144-22.123 34.325-51.563 34.325-82.859 0-29.227-10.837-57.237-30.506-78.869zm-18.902 146.645l-33.557 33.557c-18.133 18.133-42.24 28.117-67.883 28.117H117.333c-5.888 0-10.667-4.779-10.667-10.667 0-12.971 9.685-24.128 22.677-25.984l106.987-16.811c3.968-.619 7.232-3.413 8.491-7.232 1.237-3.797.235-8-2.603-10.837L82.155 110.072c-7.573-7.573-7.573-19.904.107-27.605a19.436 19.436 0 0113.739-5.675c4.971 0 9.941 1.899 13.739 5.696l106.731 106.731c4.16 4.16 10.923 4.16 15.083 0a10.716 10.716 0 003.115-7.552c0-2.731-1.045-5.461-3.136-7.552l-43.584-43.584c-7.573-7.573-7.573-19.883.128-27.584 7.552-7.552 19.904-7.552 27.456 0l43.605 43.605c4.16 4.16 10.923 4.16 15.083 0a10.716 10.716 0 003.115-7.552c0-2.731-1.045-5.461-3.136-7.552l-22.251-22.251c-7.573-7.573-7.573-19.883.128-27.584 7.552-7.552 19.904-7.552 27.456 0l22.357 22.357c.043.021.021.021.021.021l.021.021.021.021.021.021h.021c.021 0 .021.021.021.021 4.181 3.968 10.795 3.883 14.869-.213 4.16-4.16 4.16-10.923 0-15.083l-.917-.917a19.32 19.32 0 01-5.696-13.739c0-5.184 2.005-10.048 5.803-13.845 7.595-7.552 19.883-7.531 27.115-.363l79.872 87.787C439.125 165.389 448 188.301 448 212.216c0 25.6-9.963 49.664-28.075 67.776z"></path><path d="M183.381 56.931C167.851 22.563 133.547.333 96 .333c-52.928 0-96 43.072-96 96 0 37.547 22.229 71.851 56.597 87.403 1.429.64 2.923.939 4.395.939 4.053 0 7.936-2.347 9.728-6.272 2.411-5.376.021-11.691-5.333-14.123-26.752-12.096-44.053-38.763-44.053-67.947 0-41.173 33.493-74.667 74.667-74.667 29.184 0 55.851 17.301 67.947 44.053 2.411 5.376 8.747 7.787 14.101 5.333 5.375-2.431 7.764-8.745 5.332-14.121z"></path></svg>
    
    <span class="hidden md:inline mr-1 font-sans">Click</span><span class="md:hidden mr-1">Tap</span> for full image</span>
            </div>
   
<div class="grid md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-10" id="lightgallery" >
        {% for photo in entry.photos.all() %}
      
                <a href="{{ photo.getUrl() }}">
     <picture class="not-prose flex items-center">
         <source data-srcset="{{ photo.optimizedSquare.srcsetWebP() }}" 
                 data-sizes="100vw"
                 type="image/webp" />
                 <img class="lazyload w-full h-auto rounded"
              src="{{ photo.optimizedSquare.placeholderImage() }}"
              data-srcset="{{ photo.optimizedSquare.srcset() }}"
              data-sizes="100vw" />
      </picture>
                </a>
   
        
           {% endfor %}
</div>


</div>

    {% endblock %}
    <script type="text/javascript">
        lightGallery(document.getElementById("lightgallery"), {
speed: 500,
thumbnail: false,


thumbMargin: 20,
thumbHeight: 120,
thumbWidth: 120,
download: true,
plugins: [lgThumbnail],
});



        </script>


  
    </main>
    {% include '_partials/_footer.twig' %}
</body>
</html>